<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="/global.js" type="text/javascript" charset="utf-8"></script>
    <title>Tabs</title>
  </head>
  
  <body>
    
    <%= yield %>
    
      </body>
    </html>