.tab_content {
  margin-top: 37px;
  width: 284px;
  margin-left: -317px;
  background-color: #FFFFFF;
  padding: 15px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #606060;
}



#about img{
  width: 284px;
}

#discography img{
  width: 250px;
  padding-bottom: 10px;
}

#discography ul{
  list-style-type: none;
  margin-left: -17px;
}

#concerts ul{
  width: 250px;
  margin-left: -20px;
  list-style-type: none;
}

#concerts h3{
  color: #B0B0B0;
}

#concerts li{
  border-bottom: 1px dotted;
}

#discography li{
  padding-bottom: 10px;
}

nav {
  margin-left: -30px;
}

nav ul {
  list-style-type: none;
  
}

nav li {
  float: left;
  padding: 10px;
  background-color: #B0B0B0;
  color: #000000;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  border-color: #606060;
  border-radius: 6px 6px 0px 0px;
  
}

nav li a{
  text-decoration: none;
}

nav li a:link{
  color: #000000;
}

nav li a:visited{
  color: #000000;
}

nav li a:hover{
  color: #000000;
}


body {
  background-color: #000000;
}